/*アクセスエラー*/

.primary {
    flex-direction: column;
    margin: 30px 50px;
    box-shadow: none;
}

.acount-config {
    border: 1px solid;
    border-style: ridge;
}

.wording {
    margin-right: 25px;
    margin-left: 25px;
}

.paging {
    margin: 0 auto;
}

.selected {
    border: 1px solid;
    border-style: ridge;
}