/* メール通知*/

.primary {
    flex-direction: column;
    margin: 30px 50px;
    box-shadow: none;
}

.acount-config {
    border: 1px solid;
    border-style: none ridge ridge ridge;
}

.tag-list {
    display: flex;
}

.tag-item {
    width: 25%;
    border: 1px solid;
    border-style: ridge;
}

.wording {
    margin-right: 25px;
    margin-left: 25px;
}

.button-group {
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
}

.paging {
    margin: 0 auto;
}

.selected {
    border: 1px solid;
    border-style: ridge ridge none ridge;
}

.selected-tag {
    border: 1px solid;
}

.my-event {
    margin: 0px 0px 50px 0px;
}

.my-event-ckbox {
    padding: 0px 0px 0px 30px;
}

.favolite-tag {
    margin: 0px 0px 50px 0px;
}

.favolite-tag-ckbox {
    padding: 0px 0px 0px 30px;
}