.inner{
  margin: 0;
}

.tag-list{
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.tag-list li{
  flex: 1;
  text-align: center;
  margin-right: 5px;
  padding: 10px 20px;
}

li.active {
    background: #54C3F1;
    border-radius: 5px 5px 0 0;
    border: solid 1.2px #187FC4;
    text-shadow: 5px 1px 3px rgba(0,,0,0.5);
  }

.tag-item a{
  font-weight: 500;
}

a.active-link {
    color: white;
    text-shadow: 0px 2px 5px rgba(255,255,255,0.85),0px 0px 5px rgba(0,0,0,1);
}

.tag-item.active li{
  background-color: lightgray;
  border-radius: 5px;
}

.info .conf{
 background: #F6AD3C
}

