
body form{
  vertical-align:baseline;
}

.register-step{
    width: 90%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}

.item{
    padding: 10px 40px;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
}

.register-form{
    display: flex;
    flex-direction:column;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
}

.register-form h3{
  margin: 0;
  padding: 10px 0 0 0;
  display: inline-block;
  float: left;
}

.form-item {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-item p{ 
  font-size: 0.7rem;
  color: red;
  align-items: baseline;
}

.form-icon{
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
}

.form-detail{
  width: 100%;
}

.register-form h2
{
  margin-top:3px;
  margin-bottom: 0;
}

.fa-arrow-right:before {
content: "\f061";
}

.fav{
  text-align: center;
}

.caution-mark {
  margin: 0;
  margin-top: 5px;
  font-size: 0.8rem;
  color: red;
}

/* 568px以下 */
@media screen and (max-width: 568px) {
  .wrapper{
    display: flex;
    justify-content:center; 
  }
  .item{ 
   padding: 5px 10px;
  }
  .register-form input{
    margin-left: 0;
    width: 100%;
  }
  .form-icon .img{
    margin-left: 0;
  }
  .register-form textarea{
    width: 100%;
    margin-left: 0;
  }

}