
body form{
  vertical-align:baseline;
}

.row{
  margin-top: 20px;
}

.register-form h2
{
  padding-left: 5px;
}

.register-step{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}

.item{
    flex: 2;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0px 0px 6px 1px #e6e6e6;
    border-radius: 5px;
    border: solid 1.2px #187FC4;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 5px 1px 3px rgba(0,,0,0.5);
}

.item.active{
  color: white; 
  background: #54C3F1;
}

.fa{
  flex: 0.5;
  text-align: center;
}

.form-item {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-item p{ 
  font-size: 0.7rem;
  color: red;
  align-items: baseline;
}

.form-icon{
  display: flex;
  flex-direction: row; 
  align-items: flex-end;
}

.icon-form{
  margin-top: auto;
}
.fa-arrow-right:before {
content: "\f061";
}

.icon-col{
  padding-right: 0 50px;
}

.icon-form{
  margin-top: auto;
}

.user-code{
  margin-top: 30px;
}

.fav{
  text-align: center;
}

.caution{
  padding-bottom: 20px;
}

.caution-mark {
  margin: 0;
  margin-top: 5px;
  padding-left: 15px;
  font-size: 0.8rem;
  color: red;
}

@media screen and (max-width: 768px) {
  .item{
    font-size: 0.8rem;
    flex: 3;
  }
}

/* 568pxä»¥ä¸‹ */
@media screen and (max-width: 568px) {
  .wrapper{
    display: flex;
    justify-content:center; 
  }
  .item{ 
   padding: 5px 10px;
  }
  .register-form input{
    margin-left: 0;
    width: 100%;
  }
  .form-icon .img{
    margin-left: 0;
  }
  .register-form textarea{
    width: 100%;
  }

}