
.tag-list{
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag-list li{
    margin: 0;
    display: inline-block;
    width: 25%;
    border: 1px solid;
    border-style: ridge;
}

.register-form{
  margin-top: 0;
}

.register-form h1{
  margin: 0 0 20px 0;
}