.inner{
  margin: 0;
}

.tag-list{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.tag-list li{
  flex: 1;
  text-align: center;
}

.tag-item a{
  text-decoration: none;
  padding: 15px 35px;
  font-weight: bold;
}

.tag-item.active li{
  background-color: lightgray;
  border-radius: 5px;
}

.name-col{       
  flex: 3;
  padding: 0 20px;
}

.icon-col{
  flex: 2;
  padding: 0 20px;
}

.icon-display{
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.icon-display img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 5px #d3d3d3;
}

.icon-form{
  margin: 0 auto;
  margin-top: 20px;
}

.register-form{
  margin-bottom: 20px;
}

.register-form h2{
  border-bottom: dotted 2px;
}

.icon-col h2{
  border-color: #C7000B;
}

.user-name h2{
  border-color: #D28300;
}

.user-code h2{
  border-color: #00873C;
}

.introduction h2{
  border-color: #800073;
}
